<wizard>
  <wizard-step stepTitle="Title of step 1" [canExit]='true'>
    Content of Step 1
    <button type="button" nextStep>Next Step</button>
    <input type="text">
  </wizard-step>
  <wizard-step stepTitle="Title of step 2" awOptionalStep>
    Content of Step 2

    <input type="text">
    <button type="button" previousStep>Go to previous step</button>
    <button type="button" nextStep>Go to next step</button>
  </wizard-step>
  <wizard-step stepTitle="Title of step 3">
    Content of Step 3
    <button type="button" previousStep>Previous Step</button>
    <button type="button" (click)="finishFunction()">Finish</button>
  </wizard-step>
</wizard>
